/* global */
html {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: ;
  --bg-text-color: #e5e5e5;
  --secondary-bg-text-color: #2f303a;
  --accent-text-color: #2196f3;
  --white-text-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
.links-hover:hover,
.links-hover:focus {
  color: var(--accent-text-color);
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  position: relative;
  width: 1600px;
  height: 100%;
  color: #212121;
  background: var(--bg-text-color);
}
.list {
  /* list-style reset */
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid tomato;
}

/* header */
header .conteiner {
  display: flex;
  align-items: center;
}
header {
  height: 80px;
  background-color: var(--white-text-color);
}

nav a:visited,
nav a,
nav a:active,
.logo-nav,
.logo-nav:visited,
.logo-nav:active {
  color: #212121;
}
header li {
  margin-right: 50px;
}
header li:last-child {
  margin-right: 0px;
}
/* Menu Nav */
.logo-nav {
  margin: 24px 93px 25px 0px;

  width: 145px;
  height: 31px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-nav > span {
  color: var(--accent-text-color);
}

nav {
  width: 294px;
  height: 16px;
  margin-right: 331px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
header ul {
  display: inline-flex;
}

.contacts-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* main */
main {
  background-color: var(--white-text-color);
}
.business-solutions {
  height: 600px;
  background: var(--secondary-bg-text-color);
  margin-bottom: 93px;
  display: flex;
}
.business-solutions .conteiner {
  flex-direction: column;
}
.business-solutions h1 {
  /* Эффективные решения для вашего бизнеса */
  width: 696px;
  margin: 200px auto 30px auto;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin: auto;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

.our-advantages {
  display: inline-flex;
}

.our-advantages li + li {
  margin-left: 30px;
}

.our-advantages h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.Feature > p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.Feature {
  width: 270px;
  height: 101px;
}

h2 {
  margin: 0px 0px 50px 0px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section2,
.what-are-we-doing {
  margin-bottom: 94px;
}
.what-are-we-doing ul {
  display: inline-flex;
}
.what-are-we-doing li + li {
  padding-left: 30px;
}
.our-team {
  background-color: #f5f4fa;
}
.our-team h2 {
  margin: 0px 0px 50px 0px;
  padding: 94px 0px 0px 0px;
}
.our-team ul {
  display: inline-flex;
  margin-bottom: 94px;
}
.our-team li {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team li + li {
  margin-left: 30px;
}

.our-team h3 {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team p {
  margin: 10px 0px 30px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* footer */
footer {
  width: 100%;
  background-color: var(--secondary-bg-text-color);
}

.logo-footer {
  display: inline-flex;
  width: 145px;
  height: 31px;
  margin: 60px 0px 20px 0px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.part-1st-logo {
  color: var(--accent-text-color);
}
.part-2nd-logo {
  color: var(--white-text-color);
}
address {
  width: 231px;
  padding-bottom: 60px;
}
address li {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.addres-footer,
address > a:visited {
  color: var(--white-text-color);
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* ____________________________________________Portfolio_________________________________________________________*/
.portfolio {
  padding: 94px 0px 64px 0px;
  width: 1600px;
  background: var(--white-text-color);
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter {
  padding: 6px 22px 6px 22px;
}
.filters li + li {
  margin-left: 8px;
}

.filters button {
  height: 38px;
  border-radius: 4px;
  border-color: var(--white-text-color);
  font-family: 'Roboto';
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.projects {
  display: inline-flex;
  flex-wrap: wrap;
}
.projects li {
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects li:nth-child(3n) {
  margin-right: 0px;
}

.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--accent-text-color);
  color: var(--white-text-color);
}
.inactive {
  background: #f5f4fa;
  color: #212121;
}

.projects-card {
  width: 370px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}

.projects-card div {
  margin: 20px 24px 20px 24px;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
}

.project-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}
